[workspace]
resolver = "2"
members = [
    "crates/rqbit",
    "crates/librqbit",
    "crates/buffers",
    "crates/clone_to_owned",
    "crates/bencode",
    "crates/sha1w",
    "crates/librqbit_core",
    "crates/peer_binary_protocol",
    "crates/dht",
    "crates/upnp",
    "crates/tracker_comms",
    "crates/upnp-serve",
    "desktop/src-tauri",
]

# Everything except desktop
default-members = [
    "crates/rqbit",
    "crates/librqbit",
    "crates/buffers",
    "crates/clone_to_owned",
    "crates/bencode",
    "crates/sha1w",
    "crates/librqbit_core",
    "crates/peer_binary_protocol",
    "crates/dht",
    "crates/upnp",
    "crates/tracker_comms",
    "crates/upnp-serve",
]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
debug = true
overflow-checks = true
lto = "thin"

[profile.release-github]
inherits = "release"
debug = false
lto = false
